body {
  background-color: antiquewhite;
  border-radius: 30px;
}
.bg-primary {
  background-color: #383e56;
}
.bg-secondary {
  background-color: #f69e7b;
}
.text-primary {
  color: #383e56;
}
.text-light {
  color: #eedad1;
}
.text-info {
  color: #d4b5b0;
}
.text-center {
  text-align: center;
}
.w-200 {
  width: 200px;
}

button:hover {
  color: red;
  font-size: 20px;
  cursor: pointer;
}